{
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": 2,
    "no-underscore-dangle": 0,
    "curly": 2,
    "camelcase": 0,
    "valid-jsdoc": [1, {
      "requireReturn": false
    }]
  }
}
